* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.content, .header {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

section:not(.header, #blog) {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 2px;
}

.container {
    display: flex;
    flex-direction: column;
}

.header, footer {
    background: rgb(250,29,103);
}

/* ****************************
        Navbar Styles
***************************** */
nav {

}

.navbar {
    display: block;
}

.navbar-menu {
    height: 100vh;
    width: 100%;
    display: none;
}

.navbar-menu.menu-open {
    display: flex;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navbar-item {
    margin: 0px 4px;
    height: 4rem;
    font-size: 2rem;
}

.navbar-link {
    color: #FFF;
    text-decoration: none;
}

.navbar-social {
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10%;
}

footer .navbar-social {
    position: relative;
    padding: 0px;
}

.navbar-social .navbar-item img{
    width: 44px;
    height: 44px;
    margin: 0.5rem;
}

#navbar-icon {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 48px;
    height: 48px;
    padding: 3px 0;
    cursor: pointer;
    transition: left 0.66667s ease;
    -webkit-transition: left 0.66667s ease;
    -moz-transition: left 0.66667s ease;
    -o-transition: left 0.66667s ease;
}

.icon-bar {
    position: relative;
    top: 0%;
    width: 36px;
    height: 6px;
    margin: 6px;
    background: #FFF;
    border-radius: 2px;
    transition: all 0.66667s ease;
    -webkit-transition: all 0.66667s ease;
    -moz-transition: all 0.66667s ease;
    -o-transition: all 0.66667s ease;
}

.navbar-open .icon-bar.icon-bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-10px, 6px);
}

.navbar-open .icon-bar.icon-bar2 {
    opacity: 0;
}

.navbar-open .icon-bar.icon-bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-10px, -8px);
}



/* ****************************
        Text Styles
***************************** */

h3, p {
    text-align: center;
    padding: 0px 8px;
}

h3 {
    margin-top: 2px;
}

a {
    text-decoration: none;
}

.indent-title {
    text-align: left;
    margin: 0px 1rem;
}

.page-title {
    width: 90%;
    margin: -20px auto -24px auto;
}

.page-subtitle {
    width: 90%;
    margin: auto;
    text-align: center;
    font-style: italic;
    color: rgba(250, 250, 250, 0.8);
    margin: 0px auto 24px auto;
}

.twitter {
    display: flex;
    justify-content: center;
}

.twitter h3 {
    line-height: 44px;
    display: inline-flex;
}

a, a:visited {
    color: #CE1032;
  }
  a:hover, a:focus, a:active {
    color: #BA0021;
  }
/* ****************************
        Button Styles
***************************** */
a.toTop {
    position: relative;
    left: 85%;
    width: 44px;
    height: 44px;
    font-size: 24px;
    line-height: 44px;
}

/* ****************************
        Images & Icons Styles
***************************** */
.map-pointer {
    background: url(../img/map_pointer.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
}

.twitter-icon {
    background: url(../img/twitter-red.svg);
    background-size: contain;
    color: rgb(250,29,103);
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: auto 2px;
}

.img-circle {
    width: 96px;
    margin-bottom: .5em;
    border-radius: 50%;
    vertical-align: middle;
    border: 0;
}

.organisation-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.organisor {
    padding: 2px;
    display: flex;
    flex-direction: column;
    margin: 24px 0px;
    align-items: center;
}

a.organisor-contact {
    display: flex;
    width: 80%;
    text-align: center;
}

/* ****************************
        HR Styles
***************************** */
hr.dotted {
    width: 95%;
    border-top: 1px dashed rgb(250,29,103);
}

/* ****************************
        Meetup Events Styles
***************************** */
.meetup {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.meetup h3 {
    width: 90%;
    text-align: center;
    margin: 2rem auto;
}

.meetup-info {
    color: black;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6px auto 10px auto;
    padding: 4px 2px 6px 2px;
    text-decoration: none;
}

.meetup-info div {
    text-align: left;
    padding: 0px 12px;
}

#meetup a h3, b {
    margin: 0px auto 8px auto;
    color: rgb(250,29,103)
}

#meetup a .link {
    margin: auto;
    height: 44px;
    text-decoration: none;
    line-height: 44px;
    text-align: center;
    color: rgb(250,29,103);
}

#meetup a span {
    text-align: center;
}

/*************** Media Query Medium Screen ***************/
@media screen and (min-width: 1201px) {
    #navbar-icon {
        display: none;
    }

    section:not(.header) {
        max-width: 800px;
        margin: auto;
    }

    .container {
        width: 800px;
        margin: auto;
    }

    .navbar-menu {
        display: flex;
        height: fit-content;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-social {
        bottom: initial;
        left: 70%;
    }

}