[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "pelican-fh5co-marble"]
	path = pelican-fh5co-marble
	url = git@github.com:PyLadiesBerlin/pelican-fh5co-marble.git
