@font-face {
  font-family: 'gothambook';
  src:url('../fonts/gotham-book.ttf'),
  url('../fonts/gotham-book.eot') format('embedded-opentype'),
  url('../fonts/gotham-book.woff') format('woff');;
  font-weight: normal;
  font-style: normal;
}

.caps {font-size:.92em;}
.dquo {margin-left:-.38em;}
