---
const stats = [
  {
    name: 'Since',
    value: '2011',
  },
  {
    name: 'Members',
    value: '3000+',
  },
  {
    name: 'Events',
    value: '170+',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/about.webp"
        alt="Our experts working together"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-white/70 text-base sm:text-lg">
              PyLadies is an international mentorship group for marginalized
              genders, such as but not limited to non-binary people, trans people,
              and women in tech, with a focus on helping our community become
              active participants and leaders in the Python open-source community.
              All skill levels are welcome!
            </p>
            <p class="text-primary-950/70 dark:text-primary-white/70 text-base sm:text-lg">
              Founded in 2011 during PyCon PyLadies was a response to the lack of
              representation and diversity within the Python community.
            </p>
            <p class="text-primary-950/70 dark:text-primary-white/70 text-base sm:text-lg">
              Our mission is to promote, educate and advance a diverse Python
              community through outreach, education, conferences, events and social
              gatherings. To learn more about the global community, visit the
              <a href="https://pyladies.com/">PyLadies website</a>.
            </p>
            <p class="text-primary-950/70 dark:text-primary-white/70 text-base sm:text-lg">
              We expect all participants in our events and community to abide by
              <a class="text-primary-600 dark:text-primary-400" href="https://pyladies.com/CodeOfConduct">this code of conduct</a>.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
