body {
  background: #fa023c;
  font-family: "Abhaya";
}

a {
  color: #3a3f3a;
  font-weight: 400;
  font-size: 1.2rem;
}

.blurb h2 {
  font-family: "Montserrat";
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  font-family: "Abhaya";
  color: white;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  transition: background 500ms ease-in-out;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#mainNavbar.scrolled {
  background: #3a3f3a;
}

#headingGroup span {
  color: #a5a7a5;
}

#headingGroup h1 {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 4rem;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
