<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Join the PyLadies Global Slack</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-white/70 text-base sm:text-lg">
          Most of the PyLadies chapters can be found in the PyLadies Gloal Slack,
          so in case you want to connect, we recommend you to join!
        </p>
        <p class="text-primary-950/70 dark:text-primary-white/70 text-base sm:text-lg">
          We expect all participants in our events and
          community to abide by <a class="text-primary-600
          dark:text-primary-400" href="https://pyladies.com/CodeOfConduct">this
          code of conduct</a>.
        </p>
        <p class="text-primary-950/70 dark:text-primary-white/70 text-base sm:text-lg">
          The following steps will help you join:
          <ul class="list-decimal ml-10 text-primary-950/70 dark:text-primary-white/70">
            <li>Get an invite to our <a class="text-primary-600 dark:text-primary-400"
            href="https://slackin.pyladies.com">Slack using your email
            here</a>.</li>
            <li>Go to Slack in <a class="text-primary-600 dark:text-primary-400" href="https://pyladies.slack.com">pyladies.slack.com</a></li>
            <li>Join channel <code class="text-primary-900 dark:text-primary-100">#city-berlin</code>, and in case you have interest <code class="text-primary-900 dark:text-primary-100">#germany</code> and <code class="text-primary-900 dark:text-primary-100">#jobs-europe</code></li>
          </ul>
        </p>
        <a
          href="https://pyladies.slack.com"
          class="bg-primary-600 dark:bg-primary-400/40 hover:bg-primary-700 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-white inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Go to Slack
        </a>

      </div>
    </div>
  </div>
</section>
