---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang)

const faqs = [
  {
    question: 'faq1.question',
    answer: 'faq1.answer',
  },
  {
    question: 'faq2.question',
    answer: 'faq2.answer',
  },
  {
    question: 'faq3.question',
    answer: 'faq3.answer',
  },
  {
    question: 'faq4.question',
    answer: 'faq4.answer',
  },
  {
    question: 'faq5.question',
    answer: 'faq5.answer',
  },
  {
    question: 'faq6.question',
    answer: 'faq6.answer',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">{ t('faqs.title') }</h2>
      <div class="lg:col-span-2">
      {
        faqs.map((faq, index) => (
          <div class="border-b border-primary-white/10 px-4 transition">
            <details class="rounded-lg border border-transparent p-6 open:border-primary-900/40 dark:open:border-primary-white/50">
              <summary class="text-sm leading-6 text-gray-900 dark:text-white select-none font-medium text-xl">{t(faq.question)}</summary>
              <div class="mt-3 mb-3 text-sm leading-6 text-gray-600">
                <p class="text-primary-950/70 dark:text-white text-base">
                  <Fragment set:html={t(faq.answer)} />
                </p>
              </div>
            </details>
          </div>
        ))
      }
      </div>
    </div>
  </div>
</section>
