<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">
        Trusted by the largest companies in the world
      </h2>
      <div
        class="divide-primary-900/10 dark:divide-primary-300/10 grid divide-y lg:grid-cols-2 lg:divide-x lg:divide-y-0"
      >
        <!-- left -->
        <div>
          <h2 class="mb-2 flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
            Meetups
          </h2>
          <p class="mb-2 flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
          In our monthly Meetup you can look forward to workshops and talks on
          various Python topics, e.g. from the field of software development or
          data science.
          </p>

          <p class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
          In addition, we cover basic topics in our setup events that will make
          your start with programming with Python easier.
          </p>

          <p class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
          You can find and join upcoming events on our Meetup group.
          </p>

          <p class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
          We do have varying levels in different meetups from novice to expert in
          specific topics. We often start our events with a 10 minute "Non-coding
          superpower" talk because we believe (tech) life is much more than coding!
          </p>
        </div>
        <!-- right -->
        <div>
          <h2>Call for Speakers</h2>
          <p class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
          We always welcome new interesting topics that you want to share with the
          Python community ranging from a short 10min presentation of a specific
          framework to an all-day workshop or a presentation of your very own
          Python project.

          Reach out to us via Email or Slack.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
