<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>About PyLadies Berlin</title>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}

        <h1>About</h1>
        <p>The global PyLadies mentorship group has a focus on helping more women become
           active participants and leaders in the Python open-source community with the
           mission to promote, educate and advance a diverse Python community through
           outreach, education, conferences, events and social gatherings.</p>
        <p>PyLadies aims to provide a friendly support network for women and a bridge
           to the larger Python world.</p>

        {% endblock %}
    </body>
</html>
