<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Flask Tutorial</title>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}

        <h1>PyLadies Berlin </h1>
        <p>We are PyLadies Berlin, a group of girls and women coding in this lovely city.
           We are eager to develop and advance our knowlegde in the world of programming
           and you are invited to learn with us!</p>

        {% endblock %}
    </body>
</html>
