---
import Prose from '../Prose.astro';
import {Content as Intro} from '../../pages/resources/intro.mdx';
import {Content as Books} from '../../pages/resources/books.mdx';
import {Content as Videos} from '../../pages/resources/videos.mdx';
import {Content as Articles} from '../../pages/resources/articles.mdx';
import {Content as Webs} from '../../pages/resources/webs.mdx';
---

<section class="py-8 sm:py-10">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="text-4xl font-medium tracking-tight sm:text-5xl mb-3">Resources</h1>
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Educational Material</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <Prose>
          <Intro />
        </Prose>
      </div>
    </div>
  </div>
</section>

<!-- Books -->
<section class="py-8 sm:py-10">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Essential Books</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <Prose>
          <Books />
        </Prose>
      </div>
    </div>
  </div>
</section>

<!-- Videos -->
<section class="py-8 sm:py-10">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Videos</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <Prose>
          <Videos />
        </Prose>
      </div>
    </div>
  </div>
</section>

<!-- Articles -->
<section class="py-8 sm:py-10">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Articles</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <Prose>
          <Articles />
        </Prose>
      </div>
    </div>
  </div>
</section>

<!-- Webs -->
<section class="py-8 sm:py-10">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Webs</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <Prose>
          <Webs />
        </Prose>
      </div>
    </div>
  </div>
</section>
